<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/materias/edit/{{materia.id}}" method="POST">
                        <div class="form-group">
                            <label for="materia">Nombre de la materia</label>
                            <input type="text" value="{{materia.materia}}" name="materia" class="form-control" placeholder="Materia" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="materia">Créditos de la materia</label>
                            <input type="number" value="{{materia.creditos}}" name="creditos" class="form-control" placeholder="Creditos" min="0" max="20">
                        </div>
                        <div class="form-group">
                            <label for="materia">Semestre de la materia</label>
                            <input type="number" value="{{materia.semestre}}" name="semestre" class="form-control" placeholder="Semestre" min="1" max="10">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>